<div class="card shadow p-4 mt-5">
  <h2 class="fw-bold text-primary">Title: <%= blog.title %></h2>
  <p class="fs-5">Description: &ensp; <%= blog.body %></p>

  <a href="/mainInterface" class="btn btn-secondary mt-3">⬅ Back</a>
</div>